<div>
    <a [routerLink]="['/mesas/historial/', idHist]" >
      Historial</a>
</div>
<div class="app-body">

    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
               
              
                  <div *ngIf="mesa">
                  <h1>Mesa  {{mesa.numero_mesa}}</h1>
                 
                  </div>
                  <div *ngIf="estado">
                  <p class="text-muted">Estado de la Comanda: {{comandaEstado.name}}</p>
                 
                        <label>Cambiar estado a: </label> <button (click)="actualizar()"> {{selectedValue.name}}</button>
    
                 </div>             
                  <!-- <form [formGroup]="testForm">
                    <div class="row">
                      <div class="col-md-6">
                          
                              <select [(ngModel)]="selectedValue">
                            <option value="" [selected]="selectedValue.id"> {{selectedValue.name}} </option>
                            <option *ngFor="let c of estados" [value]="c.id">{{c.name}}</option>
                       </select>
                     
                      </div>
                    </div>
                  </form> -->
                  <!-- <material-angular-select [data]="countries"
                  [label]="'Location'"
                  [name]="'country'"
                  [currentValue]="locationValue"
                  (selectedValue)="changeCountry($event)"></material-angular-select> -->
              </div>
              <ng-container *ngFor="let item of data">
                    <div class="input-group mb-3">
                          
                      <div class="input-group-prepend">
                        <span class="input-group-text">Plu</span>
                      </div>
                      {{item.nombre}}                 
                      </div>
                      <div class="input-group mb-3">
                          
                      <div class="input-group-prepend">
                      <span class="input-group-text">Cantidad</span>
                      </div>
                        {{item.cantidad_plu}}                 
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Detalle</span>
                          </div>
                                {{item.detalle_plu}}                 
                          </div>
                  </ng-container>
                 
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  

  