<div class="row">
    <div class="col-md-4">
            <label for="">Numero de Mesa: {{mesa.numero_mesa}}</label>
    </div>
    <div class="col-md-4">
            <label for="">Estado de la Mesa: {{mesa.estado}}</label>
    </div>
    
</div>
<div class="row">
    <ul>

 
        <ng-container *ngFor="let item of data">
        <div >
              <li> {{item.nombre}}</li>
              
               
        
        
                <li> {{item.estado}}</li>
                
        </div>
    </ng-container>
</ul>
</div>
